$text_color: rgb(27, 60, 89);
$verde: #61ce4e;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 90%;
    margin: auto;
}
