footer {
    background-color: $text_color;
    padding: 20px;
        .container {
            display: flex;
            flex-direction: column;
                .footer_top {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    color: white;
                    padding-bottom: 20px;
                    border-bottom: 2px solid white;
                        .footer_top_left {
                            img {
                                width: 200px;
                            }
                        }
                        p {
                            padding: 10px 0;
                        }
                        .footer_top_right p {
                            font-size: 19px;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                                transition-duration: .4s;
                            }
                        }
                }
                .footer_bot {
                    text-align: center;
                    padding: 20px;
                    color: white;
                        span i {
                            font-size: 45px;
                            padding: 20px;
                            cursor: pointer;
                                &:hover {
                                    color: $verde;
                                    transition-duration: .4s;
                                }
                        }
                }
        }
}

@media screen and (min-width: 1400px) {
    footer .container {
        width: 65%;
    }
}
