* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 90%;
  margin: auto;
}

header {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
}

.logo img {
  height: 75px;
  padding: 10px;
}

header .header_right {
  display: flex;
}

header .header_right a {
  padding: 10px 20px;
  margin: 0 5px;
  color: #1b3c59;
  text-decoration: none;
  text-align: center;
}

header .header_right a.active:not(.pulsante) {
  border-bottom: 2px solid #61ce4e;
}

header .header_right a:hover:not(.pulsante) {
  border-bottom: 2px solid #61ce4e;
}

header .header_right .pulsante {
  background-color: #61ce4e;
  border-radius: 4px;
  color: white;
  text-align: center;
}

header .header_right .pulsante:hover {
  background-color: #73d462;
}

.burger_menu {
  font-size: 30px;
  display: none;
  padding: 15px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  header {
    display: block;
  }

  header .header_right {
    display: none;
  }

  .burger_menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .header_left {
    text-align: center;
  }
}

.jumbo {
  padding-top: 120px;
  display: flex;
  align-items: center;
}

.jumbo_left {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.jumbo_left h1 {
  color: #1b3c59;
  font-size: 58px;
  font-weight: normal;
}

.jumbo_left h3 {
  color: #1b3c59;
  font-size: 22px;
  font-weight: normal;
  margin-top: 35px;
  margin-bottom: 15px;
}

.jumbo_left ul {
  list-style-position: inside;
}

.jumbo_left ul li {
  color: #1b3c59;
  padding: 5px 0;
  font-weight: lighter;
}

.jumbo_left ul li strong {
  font-weight: normal;
}

.jumbo_right {
  width: 45%;
}

.jumbo_right img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .jumbo {
    flex-direction: column;
  }

  .jumbo_right,
  .jumbo_left {
    width: 90%;
  }

  .jumbo_right {
    padding-top: 25px;
  }
}

