* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 90%;
  margin: auto;
}

header {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
}

.logo img {
  height: 75px;
  padding: 10px;
}

header .header_right {
  display: flex;
}

header .header_right a {
  padding: 10px 20px;
  margin: 0 5px;
  color: #1b3c59;
  text-decoration: none;
  text-align: center;
}

header .header_right a.active:not(.pulsante) {
  border-bottom: 2px solid #61ce4e;
}

header .header_right a:hover:not(.pulsante) {
  border-bottom: 2px solid #61ce4e;
}

header .header_right .pulsante {
  background-color: #61ce4e;
  border-radius: 4px;
  color: white;
  text-align: center;
}

header .header_right .pulsante:hover {
  background-color: #73d462;
}

.burger_menu {
  font-size: 30px;
  display: none;
  padding: 15px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  header {
    display: block;
  }

  header .header_right {
    display: none;
  }

  .burger_menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .header_left {
    text-align: center;
  }
}

.jumbo {
  padding-top: 120px;
  display: flex;
  align-items: center;
}

.jumbo_left {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.jumbo_left h1 {
  color: #1b3c59;
  font-size: 58px;
  font-weight: normal;
}

.jumbo_left h3 {
  color: #1b3c59;
  font-size: 22px;
  font-weight: normal;
  margin-top: 35px;
  margin-bottom: 15px;
}

.jumbo_left ul {
  list-style-position: inside;
}

.jumbo_left ul li {
  color: #1b3c59;
  padding: 5px 0;
  font-weight: lighter;
}

.jumbo_left ul li strong {
  font-weight: normal;
}

.jumbo_right {
  width: 45%;
}

.jumbo_right img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .jumbo {
    flex-direction: column;
  }

  .jumbo_right,
  .jumbo_left {
    width: 90%;
  }

  .jumbo_right {
    padding-top: 25px;
  }
}

.dati-container {
  background-color: #1b3c59;
  margin-top: 100px;
}

.dati {
  display: flex;
  color: white;
  padding: 30px 0;
}

.dati .dato {
  padding: 20px;
  text-align: center;
}

.dati .dato h3 {
  font-size: 50px;
  padding-bottom: 15px;
  font-weight: normal;
}

.dati .dato p {
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  .dati {
    flex-direction: column;
  }
}

.aziende p {
  color: #8e8e8e;
  padding: 10px 0;
  font-size: 20px;
}

.loghi {
  padding: 65px 0;
}

.loghi_top,
.loghi_bot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loghi_top .logo_wrap,
.loghi_bot .logo_wrap {
  flex-basis: 33.3%;
}

.loghi_top .logo_wrap img,
.loghi_bot .logo_wrap img {
  max-width: 250px;
}

.loghi_bot {
  text-align: right;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .loghi_top .logo_wrap img,
  .loghi_bot .logo_wrap img {
    max-width: 180px;
  }

  .aziende p {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .loghi_top .logo_wrap img,
  .loghi_bot .logo_wrap img {
    max-width: 120px;
  }
}

footer {
  background-color: #1b3c59;
  padding: 20px;
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .container .footer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

footer .container .footer_top .footer_top_left img {
  width: 200px;
}

footer .container .footer_top p {
  padding: 10px 0;
}

footer .container .footer_top .footer_top_right p {
  font-size: 19px;
  cursor: pointer;
}

footer .container .footer_top .footer_top_right p:hover {
  text-decoration: underline;
  transition-duration: 0.4s;
}

footer .container .footer_bot {
  text-align: center;
  padding: 20px;
  color: white;
}

footer .container .footer_bot span i {
  font-size: 45px;
  padding: 20px;
  cursor: pointer;
}

footer .container .footer_bot span i:hover {
  color: #61ce4e;
  transition-duration: 0.4s;
}

@media screen and (min-width: 1400px) {
  footer .container {
    width: 65%;
  }
}

